<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Honeypot Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container mt-5 text-center">
        <h1>Honeypot Dashboard</h1>
        <p class="lead">Understanding and Analyzing Cyber Threats</p>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded-pill mx-auto mt-3">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item mx-3">
                        <a class="nav-link" href="/attack_summary">Attack Summary</a>
                    </li>
                    <li class="nav-item mx-3">
                        <a class="nav-link" href="/map">Map</a>
                    </li>
                    <li class="nav-item mx-3">
                        <a class="nav-link" href="/analysis">Analysis</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="content mt-5">
            <h2>What is a Honeypot?</h2>
            <p>A honeypot is a security mechanism that creates a virtual trap to lure cyber attackers. It is a decoy system set up to attract and detect unauthorized access attempts. Honeypots help in understanding attack patterns and techniques, thus enhancing cybersecurity defenses.</p>
            <h2>Importance of a Honeypot</h2>
            <p>Honeypots play a crucial role in cybersecurity by providing valuable insights into the tactics, techniques, and procedures (TTPs) used by attackers. They help in identifying vulnerabilities, improving threat detection, and developing more robust security measures.</p>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>